@use 'variaveis';

.hero {
    padding: calc(5.6vw * 0.85);
    min-height: calc(80vh * 0.85);
    background-image: url(../images/hero_desktop.jpeg);
    background-size: cover;
    text-align: center;

    &__content {
        max-width: calc(640px * 0.85);

        &__branding {
            max-width: calc(320px * 0.85);
            margin: 0 auto calc(38px * 0.85);
        }

        .title--small {
            margin-bottom: calc(64px * 0.85);
        }

        p {
            margin-bottom: calc(20px * 0.85);
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            &__combo {
                width: calc(50% - 12px);

                img {
                    max-height: calc(60px * 0.85);
                }

                button {
                    display: block;
                    width: 100%;
                    height: calc(60px * 0.85);
                    font-size: calc(18px * 0.85);
                    color: variaveis.$secondaryTextColor;
                    background-color: #6421ff;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 4px;
                }
            }
        }
    }
}